.DS_Store\n*.gdoc\n*.gsheet\ndrive/MyDrive/
github_instructions.ipynb
github_instruction.ipynb
Project_data/
Project_data.zip
Project_data_2/
Neural_Nets_Project_Starter_Code.ipynb
Write-up_Michael Thomas_Supriyo Roy.docx
